/*remove any pre-designed style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*focus on the body and add gradient of purple and blue, with font raleway or Sans serif*/
body{
    background-image: linear-gradient(120deg,  #87b8de , #9e7ce6  );
    color:white; 
    font-family: "Raleway" , "Sans serif";
    min-height: 100vh;
}

/*make heading big and bolder*/
header{
    font-size: 1.65rem;
    font-weight: bold;
}

/*this design will focus on the layout and space between header and form tags*/
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*design the input of the user. */
form input, form button{
    padding: 0.5rem;
    font-size: 1.7rem;
    border: none;
    background-color: white
}

/*Design the button */
form button{
    color: #B597f6;
    background: white;
    cursor:pointer;
    transition: all 0.3s ease;
}
/*Design the button by adding hover effect*/
form button:hover{
    background: #B597f6;
    color: white;
}

/*Design list button and place them in the center*/
.todoContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Style todo list*/
.todoList{
    min-width:30%;
    list-style:none;
}

/*Style todo List */
.todo{
    margin:0.5rem;
    background:white;
    color:black;
    font-size:1.5rem;
    display:flex;
    justify-content:space-between;
    align-items:center
}

/*Style todo List */
.todo li{
    flex:1;
}

/*Style delete and complete button */
.delete-btn, .complete-btn{
    background:#B597f6;
    color:white;
    border:none;
    padding:1rem;
    cursor:pointer;
    font-size:1rem;
}

/*Style complete button */
.complete-btn{
    background:#88d18a
}

/*add padding on the margin of todo-item */
.todo-item{
    padding:0rem 0,5rem;
}